[Desktop Entry]
Version=1.0
Name=Android Studio
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
Exec=/opt/android-studio/bin/studio.sh
StartupNotify=true
Terminal=false
Icon=/opt/android-studio/bin/studio.png
Type=Application
Categories=IDE;TextEditor;
Comment=
Path=/
