[Desktop Entry]
Version=1.0
Name=IntelliJ IDEA
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
Exec=/opt/idea/bin/idea.sh
StartupNotify=true
Terminal=false
Icon=/opt/idea/bin/idea.png
Type=Application
Categories=IDE;TextEditor;
Comment=
Path=/
