[Desktop Entry]
Version=1.0
Name=Postman
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
Exec=/opt/Postman/app/Postman
StartupNotify=true
Terminal=false
Icon=/opt/Postman/app/resources/app/assets/icon.png
Type=Application
Categories=IDE;TextEditor;
Comment=
Path=/
