[Desktop Entry]
Version=1.0
Name=Telegram
Exec=/opt/Telegram/Telegram
StartupNotify=true
Terminal=false
Icon=/opt/Telegram/telegram.png
Type=Application
Categories=SocialMedia;
Comment=Telegram App
Path=
